[submodule "v8"]
	path = parsers/v8
	url = https://github.com/v8/v8-git-mirror.git
	branch = 4.7.17
[submodule "test-suites/octane"]
	path = test-suites/octane
	url = https://github.com/chromium/octane.git
[submodule "parsers/rhino"]
	path = parsers/rhino
	url = https://github.com/mozilla/rhino.git
[submodule "parsers/language-ecmascript"]
	path = parsers/language-ecmascript
	url = https://github.com/jswebtools/language-ecmascript.git
[submodule "parsers/ML-LambdaJS"]
	path = parsers/ML-LambdaJS
	url = https://github.com/brownplt/ML-LambdaJS.git
