[submodule "v8"]
	path = parsers/v8-source
	url = https://github.com/v8/v8-git-mirror.git
	branch = 4.7.17
[submodule "test-suites/octane"]
	path = test-suites/octane
	url = https://github.com/chromium/octane.git
[submodule "parsers/rhino"]
	path = parsers/rhino
	url = https://github.com/mozilla/rhino.git
[submodule "parsers/language-ecmascript"]
	path = parsers/language-ecmascript
	url = https://github.com/jswebtools/language-ecmascript.git
[submodule "parsers/ML-LambdaJS"]
	path = parsers/ML-LambdaJS
	url = https://github.com/brownplt/ML-LambdaJS.git
[submodule "parsers/mozjs"]
	path = parsers/mozjs
	url = https://github.com/JasonGross/mozjs.git
[submodule "tools/depot_tools"]
	path = tools/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "test-suites/test262"]
	path = test-suites/test262
	url = https://github.com/tc39/test262.git
[submodule "test-suites/LambdaJS"]
	path = test-suites/LambdaJS
	url = https://github.com/brownplt/LambdaJS.git
