language: c

sudo: false

cache:
  directories:
    - $HOME/.cache
    - $HOME/.gradle
    - parsers/rhino


matrix:
  include:
    - env: TARGETS="language-ecmascript"
      addons:
        apt:
          sources:
            - hvr-ghc
          packages:
            - ghc-7.8.4
            - cabal-install
    - env: TARGETS="rhino"
      addons:
        apt:
          packages:
            - java-common
    - env: TARGETS="mozjs"
    - env: TARGETS="v8"

script: make $TARGETS
