language: c

sudo: false

cache:
  directories:
    - $HOME/.cache


matrix:
  - env: TARGETS="language-ecmascript"
    addons:
      apt:
        packages:
          - cabal
  - env: TARGETS="configure-mozjs"

script: make $TARGETS
