language: c

sudo: false

cache:
  directories:
    - $HOME/.cache
    - $HOME/.gradle
    - $HOME/.cabal
    - parsers/rhino
    - parsers/v8


matrix:
  include:
    - env: TARGETS="language-ecmascript"
      addons:
        apt:
          sources:
            - hvr-ghc
          packages:
            - ghc # -7.8.4
            - cabal-install
    - env: TARGETS="rhino"
      addons:
        apt:
          packages:
            - java-common
    - env: TARGETS="mozjs"
    - env: TARGETS="v8"

install:
  - if [ "$TARGETS" == "language-ecmascript" ]; then export PATH="$HOME/.cabal/bin:$PATH"; fi
  - if [ "$TARGETS" == "language-ecmascript" ]; then which cabal; fi
  - if [ "$TARGETS" == "language-ecmascript" ]; then cabal update; fi
  - if [ "$TARGETS" == "language-ecmascript" ]; then cabal install cabal-install; fi
  - if [ "$TARGETS" == "language-ecmascript" ]; then which cabal; fi

script: make $TARGETS
